<p id="notice"><%= notice %></p>

<h1>NASA APIs</h1>


<br>

<!--%= link_to 'New Nasa', new_nasa_path %-->

<h3>  <%= link_to 'APOD', {:controller => 'nasas', :action => 'apod'} %> -  Astronomy Picture of the Day</h3>

